.Backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.Modal{
    position: fixed;
    z-index: 150;
    background-color: white;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    padding: 20px 60px;
    left: 4%;
    top: 40%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 500px) {
    .PickerCon{
        width: 100%;
    }
}


@media (min-width: 800px) {
    .PickerCon{
        width: 70%;
    }
}


@media (min-width: 1024px) {
    .Modal {
        padding: 30px 60px;
        left: 40%;
    }
}